In the Datasets folder in the Files area of our Canvas site, you will find an Excel spreadsheet called “Heart Disease.xlsx”. This contains the dataset for this homework assignment. You are to modify the simple Python program presented in lecture 4 to complete the data report for this dataset. Your completed program should do the following.

1.Print to the Python console a more complete set of statistics on the data. I used numpy operations on a numpy array for this functionality. The output that I want is as follows:

In [21]:
import pandas as pd
import numpy as np
df=pd.read_excel("Heart Disease.xlsx")

print("File Users/rahulsfiles/Documents/Spring 2021/Academics/Classes/Appl Of ML/Heart Disease.xlsx is of size "
      ,df.shape)

File Users/rahulsfiles/Documents/Spring 2021/Academics/Classes/Appl Of ML/Heart Disease.xlsx is of size  (303, 14)

## Output for the First Question Part 1

In [22]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1.0,0,150,0,2.3,0,NaN,1,1
1,37,1,2,130,250,NaN,1,187,0,3.5,0,NaN,2,1
2,41,0,1,130,204,NaN,0,172,0,1.4,2,NaN,2,1
3,56,1,1,120,236,NaN,1,178,0,0.8,2,NaN,2,1
4,57,0,0,120,354,NaN,1,163,1,0.6,2,NaN,2,1

In [23]:
Part_1_df=df.describe()
Part_1_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,296.000000,303.000000,303.000000,303.000000,303.000000,303.000000,298.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

# Preparing and Calculating all Required rows for the Second Part

## Calculating Mode

In [24]:
# 
n_mode=pd.DataFrame(df.mode(axis=0))
n_mode=n_mode[:1]
n_mode_t=n_mode.transpose()
n_mode_t.columns=["MODE"]
n_mode_t
n_mode_new=n_mode_t.transpose()
n_mode_new
Part_1_df=Part_1_df.append(n_mode_new)
Part_1_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,296.000000,303.000000,303.000000,303.000000,303.000000,303.000000,298.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000

## Calculating number of Zeros

In [25]:
N_Zero=pd.DataFrame((df==0).sum(axis=0))
N_Zero.columns=["NZERO"]
N_Zero_t=N_Zero.transpose()
Part_1_df=Part_1_df.append(N_Zero_t)
Part_1_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,296.000000,303.000000,303.000000,303.000000,303.000000,303.000000,298.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.000000,170.000000,2.000000,138.000000

## Calculating Kurtosis

In [26]:
Kurt=pd.DataFrame(df.kurtosis(axis=0))
Kurt.columns=["KURT"]
Kurt
kurt_t=Kurt.transpose()
kurt_t
Part_1_df=Part_1_df.append(kurt_t)
Part_1_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,296.000000,303.000000,303.000000,303.000000,303.000000,303.000000,298.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.000000,170.000000,2.000000,138.000000
KURT,-0.542167,-1.382961,-1.193071,0.929054,4.505423,1.807653,-1.362673,-0.061970,-1.458317,1.575813,-0.627521,0.774583,0.297915,-1.980783

## Calculating Cardinality

In [27]:
Cardinality=pd.DataFrame(df.nunique())
Cardinality.columns=["CARDINALITY"]
Cardinality=Cardinality.transpose()
Cardinality
Part_1_df=Part_1_df.append(Cardinality)
Part_1_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,296.000000,303.000000,303.000000,303.000000,303.000000,303.000000,298.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.000000,170.000000,2.000000,138.000000
KURT,-0.542167,-1.382961,-1.193071,0.929054,4.505423,1.807653,-1.362673,-0.061970,-1.458317,1.575813,-0.627521,0.774583,0.297915,-1.980783
CARDINALITY,41.000000,2.000000,4.000000,49.000000,152.000000,2.000000,3.000000,91.000000,2.000000,40.000000,3.000000,5.000000,4.000000,2.000000

## calculating Number of missing values

In [28]:
n_missing=pd.DataFrame(df.isnull().sum(axis=0))
n_missing.columns=["NMISSING"]
n_missing
n_missing_t=n_missing.transpose()
n_missing_t
Part_1_df=Part_1_df.append(n_missing_t)
Part_1_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,296.000000,303.000000,303.000000,303.000000,303.000000,303.000000,298.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.000000,170.000000,2.000000,138.000000
KURT,-0.542167,-1.382961,-1.193071,0.929054,4.505423,1.807653,-1.362673,-0.061970,-1.458317,1.575813,-0.627521,0.774583,0.297915,-1.980783
CARDINALITY,41.000000,2.000000,4.000000,49.000000,152.000000,2.000000,3.000000,91.000000,2.000000,40.000000,3.000000,5.000000,4.000000,2.000000
NMISSING,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000

## Beginning to make a dataframe for the First Question.

In [39]:
new_ans=pd.DataFrame()
new_ans=new_ans.append(Part_1_df[1:2])#Mean
new_ans=new_ans.append(Part_1_df[3:4])#Min
new_ans=new_ans.append(Part_1_df[7:8])#max
new_ans=new_ans.append(Part_1_df[9:10])# Number of non zero elememts
new_ans=new_ans.append(Part_1_df[12:])# no of missing elements

In [40]:
new_ans

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.39934,0.741611,2.313531,0.544554
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.00000,4.000000,3.000000,1.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.00000,170.000000,2.000000,138.000000
NMISSING,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.00000,5.000000,0.000000,0.000000

## Solution to Question 1:

In [41]:
#print(new)
new_ans
for index in range(new_ans.shape[1]):
    print ("Column",new_ans.columns[index],": ",end=" ")
    row_val= new_ans.iloc[:, index] 
    num_arr=row_val.values
    print("mean = ",num_arr[0],end=", ")
    print("min = ",num_arr[1],end=", ")
    print("max = ",num_arr[2],end=", ")
    print("nZero = ",num_arr[3],end=", ")
    print("nMissing = ",num_arr[4])
    print()
 # This is the Solution to Question Number 1

Column age :  mean =  54.366336633663366, min =  29.0, max =  77.0, nZero =  0.0, nMissing =  0.0

Column sex :  mean =  0.6831683168316832, min =  0.0, max =  1.0, nZero =  96.0, nMissing =  0.0

Column cp :  mean =  0.966996699669967, min =  0.0, max =  3.0, nZero =  143.0, nMissing =  0.0

Column trestbps :  mean =  131.62376237623764, min =  94.0, max =  200.0, nZero =  0.0, nMissing =  0.0

Column chol :  mean =  246.26402640264027, min =  126.0, max =  564.0, nZero =  0.0, nMissing =  0.0

Column fbs :  mean =  0.15202702702702703, min =  0.0, max =  1.0, nZero =  251.0, nMissing =  7.0

Column restecg :  mean =  0.528052805280528, min =  0.0, max =  2.0, nZero =  147.0, nMissing =  0.0

Column thalach :  mean =  149.64686468646866, min =  71.0, max =  202.0, nZero =  0.0, nMissing =  0.0

Column exang :  mean =  0.32673267326732675, min =  0.0, max =  1.0, nZero =  204.0, nMissing =  0.0

Column oldpeak :  mean =  1.0396039603960396, min =  0.0, max =  6.2, nZero =  99.0, nMissing =  0.0

Column slope :  mean =  1.3993399339933994, min =  0.0, max =  2.0, nZero =  21.0, nMissing =  0.0

Column ca :  mean =  0.7416107382550335, min =  0.0, max =  4.0, nZero =  170.0, nMissing =  5.0

Column thal :  mean =  2.3135313531353137, min =  0.0, max =  3.0, nZero =  2.0, nMissing =  0.0

Column target :  mean =  0.5445544554455446, min =  0.0, max =  1.0, nZero =  138.0, nMissing =  0.0

In [42]:
# df.info()
## to recheck if i did the zeros correctly.
Part_1_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,296.000000,303.000000,303.000000,303.000000,303.000000,303.000000,298.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.000000,170.000000,2.000000,138.000000
KURT,-0.542167,-1.382961,-1.193071,0.929054,4.505423,1.807653,-1.362673,-0.061970,-1.458317,1.575813,-0.627521,0.774583,0.297915,-1.980783
CARDINALITY,41.000000,2.000000,4.000000,49.000000,152.000000,2.000000,3.000000,91.000000,2.000000,40.000000,3.000000,5.000000,4.000000,2.000000
NMISSING,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000

Apparently this kind of code dosent work 
new_ans=Part_1_df[Part_1_df.reindex["mean","std","min","max","MODE","KURT","25%","75%","CARDINALITY","NZERO","NMISSING"]]

Works: new=new.append(Part_1_df[2:3])

## Start of Question 2 : We alreay solved for values we require, above. So we are just arranging rows accordingly.

In [43]:
new=pd.DataFrame()
new=new.append(Part_1_df[1:2])#Mean
new=new.append(Part_1_df[2:3])#STD
new=new.append(Part_1_df[3:4])#Min
new=new.append(Part_1_df[7:8])#max
new=new.append(Part_1_df[5:6])# have to rename it to median
new=new.append(Part_1_df[8:9])#Mode
new=new.append(Part_1_df[10:11])# Kurtosis
new=new.append(Part_1_df[4:5])# 25 % -Quartile 1
new=new.append(Part_1_df[6:7])# the 75 %0Quartile 3
new=new.append(Part_1_df[11:12])#Cardinality
new=new.append(Part_1_df[9:10])# Number of non zero elememts
new=new.append(Part_1_df[12:])# no of missing elements
new

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
KURT,-0.542167,-1.382961,-1.193071,0.929054,4.505423,1.807653,-1.362673,-0.061970,-1.458317,1.575813,-0.627521,0.774583,0.297915,-1.980783
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
CARDINALITY,41.000000,2.000000,4.000000,49.000000,152.000000,2.000000,3.000000,91.000000,2.000000,40.000000,3.000000,5.000000,4.000000,2.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.000000,170.000000,2.000000,138.000000
NMISSING,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000

In [44]:
new=new.transpose()

## this extra step is just to make sure we are alligning the naming convention as required in the output.

In [45]:
new.columns=["MEAN","STDEV","MIN","MAX","MEDIAN","MODE","KURT","25PCT","75PCT","CARDINALITY","NZERO","NMISSING"]

## Solution for Question 2

In [46]:
new=new.transpose()
name_q2="Assn-DF-2.xlsx"
new.to_excel(name_q2)
new

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
MEAN,54.366337,0.683168,0.966997,131.623762,246.264026,0.152027,0.528053,149.646865,0.326733,1.039604,1.399340,0.741611,2.313531,0.544554
STDEV,9.082101,0.466011,1.032052,17.538143,51.830751,0.359655,0.525860,22.905161,0.469794,1.161075,0.616226,1.026753,0.612277,0.498835
MIN,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MAX,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000
MEDIAN,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
MODE,58.000000,1.000000,0.000000,120.000000,197.000000,0.000000,1.000000,162.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
KURT,-0.542167,-1.382961,-1.193071,0.929054,4.505423,1.807653,-1.362673,-0.061970,-1.458317,1.575813,-0.627521,0.774583,0.297915,-1.980783
25PCT,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
75PCT,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
CARDINALITY,41.000000,2.000000,4.000000,49.000000,152.000000,2.000000,3.000000,91.000000,2.000000,40.000000,3.000000,5.000000,4.000000,2.000000
NZERO,0.000000,96.000000,143.000000,0.000000,0.000000,251.000000,147.000000,0.000000,204.000000,99.000000,21.000000,170.000000,2.000000,138.000000
NMISSING,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000

## Solution to Question 3

In [47]:
# Part 3 of the question of the covariance matrix but solved it in the beginning to prevent any confusion
name_cov="Assn1-cov-mat.xlsx"
assn_cov=df.cov()
assn_cov.to_excel(name_cov)

In [48]:
name_cor="Assn1-corr-mat.xlsx"
assn_cor=df.corr()
assn_cor
assn_cor.to_excel(name_cor)